/* guilherme - inicio*/

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
  background-color: rgb(35, 2, 35);
  color: aliceblue;
}

/*/////////////////////MENU////////////////////////////////////*/

#menu {
  height: 70px;
  width: 100%;
  border-bottom: solid 3px white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:rgb(19, 1, 19);
}

#logo {
  display: flex;
  float: left;
  margin: auto;

}

#logoimg img {
  width: 55px;
  height: 55px;
  width: fit-content;
}

#nomelogo {
  font-size: 40px;
  font-family: 'Righteous', cursive;
  margin: auto;
  margin-left: 10px;
}

#lista {
  list-style: none;
  height: 65px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  position: relative;
  right: 20px;
  font-family: 'Righteous', cursive;
  margin: auto;
  padding: auto;

}

#lista li {
  color: aliceblue;
  height: fit-content;
  width: fit-content;
  padding: 10px;
}

.areas{
  position: relative;
  top: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 10px;
  justify-content: center;
}

.areas:hover{
  background-color: rgb(35, 2, 35);
  border: solid rgb(237, 167, 16) 3px;
  border-radius:15px;

}

/*/////////////////////MENU////////////////////////////////////*/

main {
  height: 100%;
  width: 100%;
}

#introduçao {
  width: 100%;
  height: 450px;
  text-align: center;
  background-color:rgb(19, 1, 19);
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  border-radius: 15px ;
}

#textintroduçao {
  flex-wrap: wrap;
  width: 100PX;
  text-align: center;
  margin-top: 50px;
  padding: 40px;
  margin: auto;
}

#textintroduçao h1 {
  text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 50px;
  font-family: 'Righteous', cursive;
  color: rgb(237, 167, 16);
}

#smalltext {
  font-size: 25px;
  color: rgb(234, 142, 234);
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
}

#introduçao p {
  text-align: center;
}

#introduçao div {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#pósintrodução {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.content{
  background-color: rgb(19, 1, 19);
}

#textbox {
  text-align: center;
  margin-left: 60px;
}

#textbox p {
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
  width: 500px;
  height: fit-content;
  text-align: center;
}

#box {
  height: 500px;
  width: 500px;
  margin-right: 15px;
  flex-direction: column;
}

.content {
  margin: 15px;
  padding: 15px;
  height: max-content;
  border: white 1px solid;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

.text-contentbox {
  font-family: 'Baloo 2', cursive;

}

.button-content {
  margin-top: 15px;
}

.button-content button {
  height: 40px;
  width: 100%;
  font-family: 'Righteous', cursive;
  box-shadow: 3px 2px 3px white;
  background-color: rgb(244, 241, 235);
  border-radius: 5px;

}

.text h2 {
  margin-top: auto;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
}

/*/////////////////////////FOOTER/////////////////////////////*/

footer {
  background-color: rgb(20, 1, 20);
  height:fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logofooter{
  height: 200px;
  width: 250px;
  display: flex;
  position: relative;
  top: 60px;
  left: 60px;
}

#logofooter img{
height: 50px;
width: 60px;
}

#logofooter p{
font-size: 25px;
font-family: 'Righteous', cursive;
font-weight: bold;
position: relative;
bottom: 15px;
}

#mapadosite {
  height: 200px;
  width: 250px;
  display: flex;
  position: relative;
  top: 60px;
  left: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
}






/* guilherme - fim*/