/* guilherme - inicio*/

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body{
background-color: rgb(26, 1, 26);
color: aliceblue;
}


#logo{
  display: flex;
  float: left;
  margin:auto;
  
}

#logoimg img{
  width: 55px;
  height: 55px;
  width: fit-content;
}

#nomelogo{
  font-size: 40px;
  font-family: 'Righteous', cursive;
  margin: auto;
  margin-left: 10px;
}



#menu{
  height: 70px;
  width: 100%  ;
  border-bottom: solid 2px white;

}

#lista{
  list-style: none;
  height: 70px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  position: relative;
  right: 20px;
  font-family: 'Righteous', cursive;
  
}

#lista li{
  color: aliceblue;
}

p{
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
  width: 500px;
  height: fit-content;
  text-align: center;
}


main{
height: 100%;
width: 100%;
}

#introduçao{
margin-top: 100px;
width: 100%;
height: 500px;
text-align: center;
background-color: rgb(20, 1, 20 );
flex-direction: column;
justify-content: center;
}

#textintroduçao{
  flex-wrap: wrap;
  width: 100PX;
  padding: 50PX;
  text-align: center;

}

#textintroduçao h1{
  text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 50px;
  font-family: 'Righteous', cursive;
  color: rgb(237, 167, 16);
}

#smalltext{
  font-size: 25px;
  color: rgb(234, 142, 234);
  text-align: center;
  margin:auto;
  margin-top: 20px;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
}

#g{
  margin: 0px;
  font-size: 50px;
  text-align: center;
}

#introduçao p{
  text-align: center;
}

#introduçao div{
  width:fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;

}

#pósintrodução{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

#textbox{
  text-align: center;
  margin-left: 60px;
}

#box{
  height: 500px;
  width: 500px;
  margin-right: 15px;
  flex-direction: column;
}

.content{
  margin: 15px;
  padding: 15px;
  height: max-content;
  border: white 1px solid;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

.text-contentbox{
  font-family: 'Baloo 2', cursive;

}

.button-content{
  margin-top: 15px;
}

.button-content button{
  height: 40px;
  width: 100%;
  font-family: 'Righteous', cursive;
  box-shadow: 3px 2px 3px white;
  background-color: rgb(244, 241, 235);
  border-radius: 5px;
  
}

.text h2{
  margin-top: auto;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
}

/* guilherme - fim*/