@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body{
    background-color: rgb(26,1,26 );
    color: white; 
}
#sobre{
    font-family:'Righteous', cursive;
    margin-left: 30px;

}
.servico{
    display: flex;
}
.texto{
    margin-left: 20px;
    margin-right: 100px;   
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    text-align: justify;
    margin-right: 10px;
    
}
.servico img{
    width: 150px;
    flex-direction: column;
}

.img{
    display:flex;
    justify-content: center
}
body {
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
/* alinhamento e espaço entre os cards. */

main.cards {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    
}
/* caracteristicas do fundo do card. */
main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(71, 42, 105);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    
}
/* tirando a margem da esquerda */
main.cards section.card:first-child {
    margin-left: 0;
}
/* determinando o tamanho da imagem icone */
main.cards section.card .icon {
    width: 64px;
    height: 64px;
}
/* esta dizendo o espaço que vai ocupar na no icon. */
main.cards section.card img { 
    width: 100%;
}
/* fonte */
main.cards section.card h2 {
    font-size: 100%;
    margin: 16px 0;
    font-family: 'Baloo 2', cursive;
    font: 20px;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
    font-family: 'Baloo 2', cursive;
    font-size: 16px;
}
/* cor e alinhamento do botão */
main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 16px 0;
    font-family: 'Baloo 2', cursive;
    font-size:21px ;
}
/* cor do botão */
main.cards section.card.html button {
    background: linear-gradient(to right, #d713de, #fff );
}
main.cards section.card.css button {
    background: linear-gradient(to right, #d713de, #fff);
}
main.cards section.card.js button {
    background: linear-gradient(to right, #d713de, #fff);
}
main.cards section.card.persona button {
    background: linear-gradient(to right, #d713de, #fff);
}

/* luz de fundo do card */
main.cards section.card.html {
    box-shadow: 20px 20px 50px -30px #8f3da6;
}
main.cards section.card.css {
    box-shadow: 20px 20px 50px -30px #8f3da6;
}
main.cards section.card.js {
    box-shadow: 20px 20px 50px -30px #8f3da6;
}
main.cards section.card.persona {
    box-shadow: 20px 20px 50px -30px #8f3da6;
}
/* curvatura do icon  */
.cards img {
    border-radius: 5px;
}

.card .button-hover {
    display: none;
    text-decoration: none;
}

.card:hover .button-hover {
    display: block;
    text-decoration: none;
}

.card:hover .button-principal {
    display: none;
    text-decoration: none;
}