@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body{
    background-color: rgb(26,1,26 );
    color: white; 
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

html {
  height: fit-content;
}

/*/////////////////////MENU////////////////////////////////////(guilherme)*/




header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: rgb(19, 1, 19);
  position: fixed;
  border-bottom: solid 3px white;
  top: 0px;
}

.menu a {
  text-decoration: none;
  color: aliceblue;
}

.menu {
  width: 90%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

#logo {
  display: flex;
  margin: auto;
  margin-left: 10px;
}

#logo h1 {
  font-weight: bold;
}

#logoimg img {
  width: 40px;
  height: 40px;
  width: fit-content;
}

#nomelogo {
  font-size: 30px;
  font-family: 'Righteous', cursive;
  margin: auto;
  margin-left: 10px;
}

.toggle-button {
  position: absolute;
  top: 1.30rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(237, 167, 16);
  border-radius: 10px;
}

.area-mapadosite {
  text-align: center;
  display: flex;
  justify-content: center;
}


#lista {
  list-style: none;
  height: fit-content;
  width: 450px;
  display: flex;
  justify-content: space-between;
  font-family: 'Righteous', cursive;
  margin: auto;
  padding: 0PX;
  text-align: center;

}

#lista li {
  color: aliceblue;
  padding: 10px;
  text-align: center;
}

#lista a {
  text-decoration: none;
  color: aliceblue;
}

#lista li:hover {
  background-color: rgb(35, 2, 35);
  border: solid rgb(237, 167, 16) 3px;
  border-radius: 15px;
}

/*/////////////////////MENU////////////////////////////////////(guilherme)*/

#sobre{
    font-family:'Righteous', cursive;
    margin-left: 30px;

}
.servico{
    display: flex;
}
.texto{
    margin-left: 20px;
    margin-right: 100px;   
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    text-align: justify;
    margin-right: 10px;
    
}
.servico img{
    width: 150px;
    flex-direction: column;
}

.img{
    display:flex;
    justify-content: center
}
body {
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
/* alinhamento e espaço entre os cards. */

main.cards {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    
}
/* caracteristicas do fundo do card. */
main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(71, 42, 105);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    
}
/* tirando a margem da esquerda */
main.cards section.card:first-child {
    margin-left: 0;
}
/* determinando o tamanho da imagem icone */
main.cards section.card .icon {
    width: 64px;
    height: 64px;
}
/* esta dizendo o espaço que vai ocupar na no icon. */
main.cards section.card img { 
    width: 100%;
}
/* fonte */
main.cards section.card h2 {
    font-size: 100%;
    margin: 16px 0;
    font-family: 'Baloo 2', cursive;
    font: 20px;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
    font-family: 'Baloo 2', cursive;
    font-size: 16px;
}
/* cor e alinhamento do botão */
main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 16px 0;
    font-family: 'Baloo 2', cursive;
    font-size:21px ;
}
/* cor do botão */
main.cards section.card.html button {
    background: linear-gradient(to right, #d713de, #fff );
}
main.cards section.card.css button {
    background: linear-gradient(to right, #d713de, #fff);
}
main.cards section.card.js button {
    background: linear-gradient(to right, #d713de, #fff);
}
main.cards section.card.persona button {
    background: linear-gradient(to right, #d713de, #fff);
}

/* luz de fundo do card */
main.cards section.card.html {
    box-shadow: 20px 20px 50px -30px #8f3da6;
}
main.cards section.card.css {
    box-shadow: 20px 20px 50px -30px #8f3da6;
}
main.cards section.card.js {
    box-shadow: 20px 20px 50px -30px #8f3da6;
}
main.cards section.card.persona {
    box-shadow: 20px 20px 50px -30px #8f3da6;
}
/* curvatura do icon  */
.cards img {
    border-radius: 5px;
}

.card .button-hover {
    display: none;
    text-decoration: none;
}

.card:hover .button-hover {
    display: block;
    text-decoration: none;
}

.card:hover .button-principal {
    display: none;
    text-decoration: none;
}

/*/////////////////////////FOOTER/////////////////////////////(guilherme)*/




footer {
    background-color: rgb(20, 1, 20);
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
  
  }
  
  .footer-conteudo{
    width: 90%;
    justify-content: space-between;
    text-align: center;
  }
  
  
  #logo-footer {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  
  #logo-footer h1 {
    font-family: 'Righteous', cursive;
  
  }
  
  #logo-footer img{
    height: 40px;
    width: fit-content;
  }
  
  #container-mapa-contato {
    border: rgb(237, 167, 16) solid 5px;
    border-radius: 20px;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: auto;
  }
  
  #footer-mapa {
    margin: auto;
  }
  
  #footer-mapa h5 {
    font-family: 'Righteous', cursive;
    font-weight: bold;
  
  }
  
  #footer-mapa p {
    font-size: 14px;
    font-family: 'Baloo 2', cursive;
    margin: auto;
    color: rgb(237, 167, 16);
  }
  
  #footer-contato {
    margin: 8px auto auto auto;
    height: fit-content;
    width: fit-content;
  }
  
  #footer-contato h5 {
    font-family: 'Righteous', cursive;
    font-weight: bold;
  }
  
  #footer-contato img{
    border-radius: 5px;
    height: 40px;
    width: fit-content;
  }
  
  /*/////////////////////////FOOTER/////////////////////////////(guilherme)*/
  
  
  
  
  /*////////////////////////responsividades(guilherme)///////////////////////////*/

@media(max-width: 450px) {
  #textintroduçao h1 {
    font-size: 2rem;
  }

  #logo h1 {
    font-size: 1.5rem;
  }

  #logo img {
    height: 30px;
    width: 30px;
  }

  .menu {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  header {
    display: flex;
    justify-content: center;
  }

  #logo-footer h1 {
    font-size: 1.5rem;
  }
}



@media (max-width: 758px) {

  .toggle-button {
    display: flex;
  }

  .area-mapadosite {
    display: none;
    width: 100%;
    margin-top: 15px;
  }

  .area-mapadosite ul {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: auto;
  }

  .menu {
    flex-direction: column;
    position: static;
    height: fit-content;
    align-items: flex-start;
  }

  #logo {
    margin-top: 17px;
  }

  .area-mapadosite.active {
    display: flex;

  }

}

/*////////////////////////responsividades(guilherme)///////////////////////////*/

/* guilherme - fim*/
